/*
RESETS
*/

* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*
PRE-SETS AND VARIABLE 
*/

img {
  max-width: 100%;
}

:root {
  font-size: 62.5%;

  --color-salmao: #ff9696;
  --color-black: #000;
  --color-white: #fff;

  --color-green: #d2ff99;
  --color-light-black: rgba(0, 0, 0, 0.4);
  --color-grey: #c4c4c4;

  --font-big: 2.4rem;
  --font-small: 1.8rem;
  --font-DM-Sans: "DM Sans", sans-serif;

  --border-radius-low: 10px;
  --border-radius-high: 15px;
  --border-radius-bigger: 20px;
}

body {
  font-size: var(--font-small);
  font-family: var(--font-DM-Sans);
  background-color: var(--color-green);
  padding: 10px;
  min-height: 100vh;
  height: 100vh;
}

::placeholder {
  color: var(--color-light-black);
  font-style: italic;
}

input {
  font-size: var(--font-small);
  font-family: var(--font-DM-Sans);
}

button {
  cursor: pointer;
  font-family: var(--font-DM-Sans);
}

.modal__style-bg {
  height: 100vh;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  display: none;
  transition: opacity 0.6s 0.3s ease-in-out;
}

.modal__style-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--color-green);
  border-radius: var(--border-radius-high);
  padding: 37px;

  width: 500px;
  max-width: 90%;
  text-align: center;
}

/*
MAIN
*/

.main {
  background-color: var(--color-white);
  border-radius: var(--border-radius-bigger);
  position: relative;
  height: 100vh;
  min-height: 800px;
  margin-bottom: 15px;
}

/*
HERO
*/

.hero {
  padding-top: 131px;
  max-width: 80%;
  margin: 0 auto;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__logo {
  margin-bottom: 140px;
}

.tasks {
  padding: 50px 0px;
}
/*
FORM
*/

.hero__form {
  width: 100%;
  max-width: 620px;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entrada__task {
  width: 100%;
  padding: 18px;
  margin-bottom: 40px;

  border: 1px solid black;
  border-radius: var(--border-radius-high);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.details__container {
  position: absolute;
  right: -60px;
  top: 7px;
}

.details__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: var(--font-big);

  background-color: var(--color-white);
  border: 1px solid black;
  color: var(--color-salmao);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  transition: all 0.5s;
}

.details__btn:hover {
  background-color: var(--color-salmao);
  color: white;
}

.details__pop {
  position: absolute;
  right: -200px;
  top: 10px;

  background-color: var(--color-grey);
  padding: 5px 10px;
  border-radius: var(--border-radius-high);

  display: none;
}

.keep-it__btn {
  padding: 10px 95px;
  background: var(--color-black);
  color: var(--color-salmao);
  font-weight: 700;

  font-size: var(--font-big);
  border-radius: var(--border-radius-high);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
}

.footer__small {
  color: var(--color-grey);
  font-size: var(--font-small);
  font-style: italic;
}

/*
MODAL LOAD 
*/

.modal__load {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__load-text {
  font-size: var(--font-big);
}

span {
  display: block;

  font-size: var(--font-small);

  padding: 40px 0px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

.modal__style-btn {
  padding: 11px 68px;
  border-radius: var(--border-radius-low);

  background-color: var(--color-black);
  color: var(--color-white);
  font-size: var(--font-small);

  transition: all 0.5s;
}

.modal__style-btn:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

/* MODAL DETAILS */

#todo,
#time,
#friend {
  display: block;
  width: 100%;

  margin-bottom: 30px;
  padding: 10px 15px;

  border-radius: var(--border-radius-high);
}

/* SWIPER */

.swiper-container {
  margin-top: 50px;
  width: 90%;
  height: 150px;
}

.swiper__mini-box {
  position: relative;
  max-width: 100%;
  height: 150px;
  padding: 15px;

  background-color: var(--color-salmao);
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  user-select: none;

  transition: all 0.5s;
}

.mini-box__button {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: 15px;

  opacity: 0;
  color: white;
  background-color: black;

  transition: all 0.3s;
  z-index: 1;
}

.mini-box__button:hover {
  opacity: 1;
}

/*
DETAILS AND DELETE MODAL
*/

.detail__title {
  font-size: 35px;
  margin-bottom: 15px;
}

.task-name,
.task-data,
.task-friend {
  margin-bottom: 15px;
  font-size: 25px;
  letter-spacing: 3px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;

  font-size: 25px;
  font-weight: bold;
  padding: 5px;

  cursor: pointer;
}

.limpar-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;

  border-radius: 15px;
  background-color: var(--color-salmao);
  cursor: pointer;
}

@media screen and (max-width: 915px) {
  :root {
    font-size: 55%;
  }

  .details__container {
    right: -5px;
    top: 0px;
  }

  .details__btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: var(--font-big);

    background-color: var(--color-white);
    border: 1px solid black;
    color: var(--color-salmao);

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    transition: all 0.5s;
  }

  .entrada__task {
    padding: 10px 18px;
  }
}
